#container {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

#uhrzeit {
    text-align: center;
    font-size: large;

}

#diaShowButton{
    margin-top: 10px;
}

input[type="range"] {
    margin: 10px 0 0 0;
}

label {
    margin: 6px 0 0 0 ;
}

#jumbotronBox{
    padding: 10px 10px;
}

#buttons{
    margin: 10px 0px;
}

#buttons > div {
    padding: 0px 5px;
}

#dateTime {
    color: red;
}
