#container {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}


table{
    border: solid 1px ;
    border-color:rgb(221, 221, 221);
    margin: 10px 0px;

}

#uhrzeit {
    text-align: center;
    font-size: large;

}

#diaShowButton{
    margin-top: 10px;
}

input[type="range"] {
    margin: 10px 0 0 0;
}

label {
    margin: 6px 0 0 0 ;
}

#jumbotronBox{
    padding: 10px 10px;
}



#dateTime {
    color: red;
}

.sliders{
    margin-top: 10px;
}